body {
    background-color: black;
}

/*==================================================================
headers
*/

h1 {
    text-align: center;
}
#top {
    background-image: url(img/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    opacity: 1;
}

/*==================================================================nav
====================================================================*/


/*top*/

#navigate-top {
    border: 3px solid aqua;
    opacity: 0.5;
    height: 100px;
    background-color: aqua;
    border-radius: 10px;
}
.part-top {
    border: 2px solid aqua;
    margin-left: 200px;
}

/*bottom*/

#bottom {
    border: 2px solid aqua;
    border-radius: 10px;
    background-color: aqua;
    width: 400px;
    margin-left: 300px;
    margin-top: -150px;
    height: 100px;
    width: 700px;
    padding-top: 20px;
    opacity: 0.5
}
.navigate-bottom {
    opacity: 1;
}
.part-bottom {
    border: 2px solid aqua;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    margin-left: 70px;
    background-color: whitesmoke;
}

/*================================================================
content
==================================================================*/


/*====menu=====*/

#menu {
    border: 2px solid aqua;
    border-radius: 10px;
    border-radius: 10px;
    border-style: groove;
    height: 1050px;
    width: 900px;
    margin: 200px;
    margin-top: 10px;
}

/*=====location====*/

#location {
    border: 2px solid aqua;
    border-style: groove;
    border-radius: 10px;
    height: 500px;
    width: 900px;
    margin: 200px;
    margin-top: -100px;
}

/*====about=====*/

#about {
    border: 2px solid aqua;
    border-style: groove;
    border-radius: 10px;
    height: 300px;
    width: 900px;
    margin: 200px;
    margin-top: 10px;
}

/*===contacts===*/

#contacts {
    border: 2px solid aqua;
    border-style: groove;
    border-radius: 10px;
    height: 200px;
    width: 900px;
    margin: 200px;
    margin-top: 10px;
    text-align: center;
}
.con {
    border: 1px solid aqua;
    height: 10px;
    background-color: aqua;
    opacity: 0.5;
    color: black;
    border-radius: 5px;
    margin: 5px;
}

/*==================================================================images*/


}
h1 {
    text-align: center;
}
.img2,
.img4,
.img6 {
    float: right;
    margin-top: -320px;
}
.text {
    width: 340px;
    height: 217px;
    background: #FFF;
    opacity: 0;
}

/*================================================================backgrounds.
==================================================================*/
.img1 {
    background: url(img/pizza2.jpg) no-repeat;
}
.img2 {
    background: url(img/hot-dog.jpg) no-repeat;
}
.img3 {
    background: url(img/fried-chicken.jpg) no-repeat;
}
.img4 {
    background: url(img/mexican-food-tacos-plate-old-wooden-table-40068843.jpg) no-repeat;
}
.img5 {
    background: url(img/hamburger-potato-fries-cola-drink.jpg) no-repeat;
}
.img6 {
    background: url(img/cofee-.jpg) no-repeat;
}
.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
    border-radius: 4px;
    height: 300px;
    width: 400px;
    background-size: cover;
}

/*=======img hover==========*/
.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    opacity: 0.5;
}
.img1:hover .text,
.img2:hover .text,
.img3:hover .text,
.img4:hover .text,
.img5:hover .text,
.img6:hover .text {
    opacity: 0.5;
    text-align: justify;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    padding: 30px;
    height: 300px;
    width: 400px;
}

/*==================================================================*/
#map {
    height: 400px;
    width: 600px;
}
